
/*** CONSTANTS & DEFINES ***/

@headline_clr: #93B876;
@main_bg_clr: ivory; /* could be snow */
@heading_clr: #444;
@text_clr: #666;
@discrete-text-clr: @darkgray;
@darkgray:      #737373;

@page-padding: 90px;


/*** STYLES ***/

/*** OVERALL */

body {
	background: @headline_clr;
	margin: 0;
	padding-top: 5px;
	width: auto;
	font: 12px 'Lucida Grande', Verdana, Helvetica, sans-serif;
}


/*** HEADER */

.page-header {
	background: @main_bg_clr;
	color: @heading_clr;
	
	margin-left: 0;
	margin-right: 0;
	
	padding: 0;
	
	h1 {
		a {
			font: normal 165% Georgia, 'Times New Roman', Times, serif;
			color: @headline_clr;
			
			:hover {
				color: black;
			}
		}
		padding-left: @page-padding;
		padding-bottom: 10px;
	}
	
	.navigation.main-nav {
		background: #whitesmoke;
		
		padding-top: 3px;
		padding-left: @page-padding;
		padding-right: @page-padding;

		border-width-bottom: 1px;
		border: 0px solid #AAA;
		border-bottom-width: 1px;
		
		a {
			font: bold 115% 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
			text-transform: uppercase;
			color: #666;
			background: inherit;
			padding-bottom: 3px;
			
			:hover {
				color: black;
			background: inherit;
			}
		}
		
		li.current a {
			border: 1px solid #AAA;
			border-bottom-width: 0;
			background: @main_bg_clr;
		}
			
	}
	
	.account-nav {
		margin-right: @page-padding;
		padding-right: 0;
	}
	
	div.search {
		float: none;
		padding-bottom: 3px;
		padding-top: 5px;
	}

}


/*** CONTENT */

.section.content {
	background: @main_bg_clr;
	color: @text_clr;
	
	padding-left: @page-padding;
	padding-right: @page-padding;
	
	font: 100%/175% 'Lucida Grande', Verdana, Helvetica, sans-serif;
	
	h1, h2, h3, h4 {
		font-face: Georgia, 'Times New Roman', Times, Serif;
		color: #444;
	}
	
	h2 {
		font: normal 3.5em Georgia, 'Times New Roman', Times, Serif;
	}
	
	h3 {
		font: normal 2em Georgia, 'Times New Roman', Times, Serif;
	}
	
	h4 {
		font: bold 1em/1.5em Georgia, 'Times New Roman', Times, serif;
		color: @headline_clr;
	}
	
	section.welcome-message {
		background: whitesmoke;
	}
	
	p.byline {
		padding: 0.75em 0;
		font-style: italic;
	}
	
}

.front-page .welcome-message {
		background: whitesmoke;

}


.content-header, .content-body, .page-footer {
	margin: 0 0 0px;
	padding: 0 0 30px;
}

.content-header {
	padding: 0;
}

.content-body {
	padding-top: 20px;
	/* this just looks a bit better if the smaller test is indented a little
	below the bigger text. */
	padding-left: 4px;
}




/*** FLASHES & MESSAGES */
/*
Attempts to unify and share the declarations here result in the base formatting
coming through.
TODO: investigate generated css.
*/

.flash {
	margin-top: 5px;
	border: 1px solid #AAA;
}

.flash.notice, .flash.success {
	background: #DFF2BF;
	color:  #4F8A10;
	background-image: url(/images/icons/32/comment.png);
	background-repeat: no-repeat;
	background-position: 8px center;
	padding-left: 48px;
	border: 1px solid;
}

.flash.error {
	background: #BC1C3D;
	color: white;
	background-image: url(/images/icons/32/error.png);
	background-repeat: no-repeat;
	background-position: 8px center;
	padding-left: 48px;
	border: 1px solid #900024;
}

div.section.error-messages {
	background-image: url(/images/icons/32/error.png);
	background-repeat: no-repeat;
	background-position: 8px center;
	padding-left: 48px;
}


/*** FOOTER */

.page-footer {
	background: whitesmoke; 
	border-top: 1px solid  #CCC;
	
	padding-left: @page-padding;
	padding-right: @page-padding;
	margin-top: 0;
	height: 30px;
	padding-top: 10px;
	
	font-size: 12px;
	line-height: 10px;
	
	ul {
		list-style-type: none;
		margin: 0 auto;
		text-align: center;
		
		li {
			margin: 10px 30px;
			display: inline;
			
			a {
				border:none;
				color: @discrete-text-clr;
			}
		}
	}
}


/*** BUTTONS & FORMS */


.button, input[type="reset"] {
	color: white;
	background: @headline_clr;
	border: 1px solid @headline_clr;
	font-size: 80%;
	padding: 5px 10px;
	width: auto;
	font-size: 11px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
	-webkit-box-align: center;
	
	:hover {
		color: black;
		background: white;
		cursor: pointer;
	}
}


a.edit-link, a.new-link, a.cancel {
	color: @headline_clr;
	border: 1px solid @headline_clr;
	padding: 0px 2px;
	font-size: 80%;
	:hover {
		color: white;
		background: black;
		border-color: black;
	}
}

.field-list {
	textarea, input[type=text], input[type=password] {
		width: 50%;
		margin: 0;
	}
}


/*** SPECIAL PAGES */

/*
NOTE: there's some wierdness in the account details, login and signup pages
where they are all very narrow, although not in quite the same ways. Fixed now.
*/
.user-account-page .change-password {
	width: 100%;
}

.login-page .field-list {
	width: 100%;
}

.signup-page .field-list {
	width: 100%;
}



/*** END ***/
